node-modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local
backend/bin/
backend/pkg/mod/
backend/go.sum
backend/.env
backend/tmp/
backend/cache/
backend/coverage/
.next/types/
.tailwind/
frontend/node_modules/